/* Hoja de estilos para index.html */

:root {
    --color-1: #d9b4c1; /* Definición del color primario */
    --color-2: #223440; /* Definición del color secundario */
    --color-3: #152026; /* Definición del color secundario */
    --color-4: #bf6363; /* Definición del color secundario */
    --color-5: #8c4d4d; /* Definición del color secundario */
}

/*? etiquetas HTML */

/* #956bd8, #19dd81); */

body {
    background-image: url(../imagenes/alexandre-debieve-FO7JIlwjOtU-unsplash\ \(1\).jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*! clases (.) (class) */

.titulo {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
}

.titulo h1 {
    font-family: "Orbitron";
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 1);
    color: #daf6ff; /* almost cyan colored*/
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-right: 30%; /* Empuja el título hacia la izquierda */
    margin-left: 35%;
}



.grid-layout {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto auto;
    width: 80%;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
}

.cajaTemperatura {
    position: relative; /*hace que podamos colocar el texto de forma relativa a este contenedor */
    padding: 10px 10px;
}

.cajaTemperatura h2 {
    font-family: "Orbitron";
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 1);
    color: #daf6ff; /* almost cyan colored*/
    font-size: 30px;
}

.cajaTemperatura img {
    width: 80%;
    height: auto;
}

.cajaStream {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 10px 10px;
}

.cajaStream h2 {
    font-family: "Orbitron";
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 1);
    color: #daf6ff; /* almost cyan colored*/
    font-size: 30px;
}

.botonesFlechas {
    background: var(--color-4);
}

.cajaControl {
    text-align: center;
    padding: 10px 10px;
    background: transparent;
    /* line-height: 100px; */
}

.cajaControl h2 {
    font-family: "Orbitron";
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 1);
    color: #daf6ff; /* almost cyan colored*/
    font-size: 30px;
}

/** id (#) */

#displayTemperatura {
    position: relative;
}

#display {
    position: relative; /* Establece la posición relativa para la imagen */
    width: 250px;
    height: auto;
    max-width: 80%; /* Ajusta el tamaño máximo de la imagen */
    max-height: auto; /* Ajusta la altura máxima de la imagen */
    z-index: 0; /* Asegura que la imagen esté detrás del texto */
}

#temperatura {
    position: absolute; /* Establece la posición absoluta para el texto de la temperatura */
    top: 30%; /* Coloca el texto en el centro vertical */
    left: 50%; /* Coloca el texto en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra exactamente el contenido */
    margin: 0; /* Elimina el margen predeterminado */
    font-family: "Orbitron";
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 1);
    color: #daf6ff; /* almost cyan colored*/
    font-size: 30px;
    max-width: 70%; /* Para evitar que el texto se desborde */
    z-index: 1; /* Asegura que el texto esté sobre la imagen */
}
#presion {
    position: absolute; /* Establece la posición absoluta para el texto de la temperatura */
    top: 60%; /* Coloca el texto en el centro vertical */
    left: 50%; /* Coloca el texto en el centro horizontal */
    transform: translate(-50%, -50%); /* Centra exactamente el contenido */
    margin: 0; /* Elimina el margen predeterminado */
    font-family: "Orbitron";
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 1);
    color: #daf6ff; /* almost cyan colored*/
    font-size: 30px;
    max-width: 70%; /* Para evitar que el texto se desborde */
    z-index: 1; /* Asegura que el texto esté sobre la imagen */
}

#media-container {
    display: grid;
    place-items: center;
    padding: 5px;
}

#image-player {
    display: none;
    width: 700px;
    height: auto;
}

#boton {
    background: transparent;
    box-shadow: none; /* Elimina la sombra */
    border: none; /* Elimina el borde */
    /* Además, si deseas eliminar otros estilos predeterminados del botón, puedes agregar lo siguiente */
    background: none; /* Elimina el fondo */
    padding: 0; /* Elimina el relleno */
    margin: 0; /* Elimina el margen */
    cursor: pointer; 
    
}

#toggle-media {
    background: var(--color-1);
    cursor: pointer; 
}

#boton_salir {
    background:var(--color-1);
    width: 80px;
    height: auto;
    float: right;
    cursor: pointer; 
    
}


/* Media query para pantallas pequeñas */
@media (max-width: 576px) {
    #temperatura #presion {
        font-size: 8px;
    }
}

/* Media query para pantallas medianas */
@media (min-width: 768px) and (max-width: 1024px) {
    #temperatura #presion {
        font-size: 18px;
    }
}

/* Media query para pantallas grandes */
@media (min-width: 1025px) {
    #temperatura #presion {
        font-size: 20px;
    }
}
